.pag{
    font-size: 15px;
}
#items{
    text-align: center;
}
.lf{
    font-size: 15px;
}
#menu{
    width: 100px;
}
.materias{
    text-indent: 0%;
}
.prof{
    text-indent: 0%;
    text-align: center;
}